.container {
  display: flex;
}

.section {
  flex: 1;
  margin: 10px;
  padding: 5px 20px 10px 10px;
  border: 2px solid #eee;
  border-radius: 10px;
}

.showcase {
  display: flex;
}

.sorting-wrapper {

}

.sorting-display {
  margin: 5px 10px;
}

.sorting-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
}

.sorting-wrapper {
  display: flex;
  align-items: flex-end;
}

.item {
  width: 20px;
  margin: 0 2px;
  border-radius: 2px;
  background-color: salmon;
  text-align: center;
  transition: background-color 200ms;
}

.first-item {
  background-color: palegreen;
  transition: background-color 300ms;
}

.last-item {
  background-color: deepskyblue;
  transition: background-color 300ms;
}

.other-item {
  background-color: aqua;
  transition: background-color 300ms;
}

.main-item {
  background-color: mediumpurple;
  transition: background-color 300ms;
}

.twinkle {
  animation: opacity-changing 100ms 2;
}

@keyframes opacity-changing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.button:disabled {
  cursor: not-allowed;
}